{%- macro csrfInput(params) -%}
  <input type="hidden"
    {%- if params.field_name -%} name="{{params.field_name}}" {%- else -%} name="_csrf" {%- endif -%}
    value="{{params.csrf_token}}" />
{%- endmacro -%}
