{%- macro csrfInput(params) -%}
  <input type="hidden"
    {%- if params.fieldName -%} name="{{params.fieldName}}" {%- else -%} name="_csrf" {%- endif -%}
    value="{{params.csrfToken}}" />
{%- endmacro -%}
