{%- macro csrfTokenInput(params) -%}
<section>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Sorry, something went wrong</h1>

    <p>The information submitted does not look correct – either because it is out
    of date, or the system has changed before submitting your information.</p>

    <p>Please try the following:</p>

    <ul>
        <li>Go Back and submit the form again</li>
        <li>Log out and log in again</li>
    </ul>

    <p>If you are seeing this a lot, you can contact us for help.</p>
</section>
{%- endmacro -%}
